body{
	background-color: #f4f4f4;
	color: #555;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
}

/* Index.html*/
.container{
	width: 80%;
	margin: auto;
	overflow: hidden; /*no scrollbars if stuff goes out of container*/
}

#main-header{
	background-color: coral;
	color: #fff;
}

#showcase {
	background-color: #8cceff;
}

#showcase img{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 40%;
}

#main {
	text-align: center;
}

#main h3{
	font-size: 30px;
}

#newQuiz {
	width: 30%;
	font-size: 30px;
	margin: 10px;
	color: #fff;
	background-color: coral;
}

#newCustom {
	width: 30%;
	font-size: 30px;
	margin: 10px;
	color: #fff;
	background-color: coral;
}

#main-footer{
	background: #333;
	color: #fff;
	text-align: center;;
	padding: 10px;
	position: fixed;
    bottom: 0;
    width: 100%;

}

/* Developed by Konstantinos Vrettos */